<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-minishop" >
	<tr>
		<td>
			<f:translate key="tx_minishop_domain_model_product.title" />
		</td>
		<td>
			{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_minishop_domain_model_product.teaser" />
		</td>
		<td>
			{product.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_minishop_domain_model_product.description" />
		</td>
		<td>
			{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_minishop_domain_model_product.images" />
		</td>
		<td>
			{product.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_minishop_domain_model_product.price" />
		</td>
		<td>
			{product.price}
		</td>
	</tr>
</table>
</html>