<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="content">
    <h1>Listing for Booking</h1>


    <f:for each="{bookings}" as="booking">
        <div class="row">
            <div class="col-xs-3">
                {booking.name} <br>
                {booking.adress} <br>
                {booking.zip} <br>
                {booking.city} <br>
                {booking.country.nameLocalized} <br>
                <f:link.email email="{booking.adress}"></f:link.email>
                <br>
                <a href="tel:{booking.telephone}">{booking.telephone}</a> <br>
                <f:format.date format="d.m.Y H:i:s">{booking.crdate}</f:format.date>


            </div>
            <div class="col-xs-9">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-right">
                            <f:translate key="tx_minishop_domain_model_position.quantity"/>
                        </th>
                        <th>
                            <f:translate key="tx_minishop_domain_model_position.product"/>
                        </th>
                        <th class="text-right">
                            <f:translate key="tx_minishop_domain_model_product.price"/>
                        </th>
                        <th class="text-right">
                            <f:translate key="tx_minishop_domain_model_position.totalPrice"/>
                        </th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <f:translate key="tx_minishop_domain_model_position.totalPrice"/>
                        </td>
                        <td class="text-right">{booking.fullPrice}</td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <f:for each="{booking.positions}" as="position">
                        <tr>
                            <td class="text-right">
                                {position.quantity}
                            </td>
                            <td>
                                {position.product.title}
                            </td>
                            <td class="text-right">
                                <f:format.currency thousandsSeparator="." decimalSeparator="," currencySign="€">
                                    {position.product.price}
                                </f:format.currency>
                            </td>
                            <td class="text-right">
                                <f:format.currency thousandsSeparator="." decimalSeparator="," currencySign="€">
                                    {position.fullPrice}
                                </f:format.currency>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </f:for>


</f:section>
</html>
